<md-content layout="column" flex layout-padding md-theme="tema-gnp" >
    <div class="md-card-gnp" md-whiteframe="3">
        <div layout="column" layout-align="top center">
            <img ng-src="{{cc.item.imagen}}" class="md-card-image">
        </div>
        
        <div layout="column" layout-align="start start" layout-padding>
            <h2 class="md-headline">{{cc.item.titulo}}</h2>
            <p>
                <b>{{cc.item.subtitulo}}</b>
            </p>
            <div ng-bind-html="cc.trustAsHtml(cc.item.contenido)" style="width:100%"></div>
        </div>
        
        <div layout="row" layout-align="end center" layout-padding ng-show="cc.item.archivo && cc.item.archivo != ''">
            <a href="{{cc.item.archivo}}" target="_black" download>
                <md-button class="md-fab md-primary">
                    <md-icon>insert_drive_file</md-icon>
                </md-button>
            </a>
        </div>
    </div>
</md-content>