<md-content layout="column" flex layout-padding md-theme="tema-gnp" >
    <div layout="column" layout-align="center center">
        <md-card class="no-shadow">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">Landig Page GNP</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Landig Page GNP para clientes Banamex</p>
            </md-card-content>
        </md-card>
    </div>
</md-content>