<div layout="column" style="height:100%">
    <section layout="row" flex>
        <div ui-view="lateral"></div>
        <div layout="column" flex>
            <div ui-view="header"></div>
            <div ui-view="container"></div>
        </div>
    </section>
</div>