.active {
    background: rgb(206, 206, 206);
}
.no-shadow {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12) !important;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(35, 152, 253);
}
.md-card-gnp {
    max-width: 800px;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    padding: 0;
    background: #FFF;
    border-radius: 6px 6px 0 0;
}
.md-card-gnp img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}
.pointer {
    cursor: pointer;
}