<div layout="column" style="height:100%">
    <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
        <md-toolbar>
            <div layout="column" layout-align="start center" ng-click="dc.goHome()" hide-xs hide-sm>
                <img src="http://promobus.com.mx/wp-content/uploads/2015/04/promobus-gnp-rebasa-el-crecimiento-del-sector.gif"/>
            </div>
            <div layout="column" layout-align="start start" ng-click="dc.goHome()" hide-md hide-lg >
                <h1 class="md-toolbar-tools">GNP - Banamex</h1>
            </div>
            <div layout="column" layout-align="start start" ng-click="dc.goHome()" hide-xs hide-sm >
                <h1 class="md-toolbar-tools">Sección Descargas</h1>
            </div>
        </md-toolbar>
        <md-content>
            <md-subheader class="md-no-sticky" hide-md hide-lg>Sección Descargas</md-subheader>
            <md-list-item ng-click="dc.detalle(item)" ng-repeat="item in dc.listado" ng-class="{'active': item == dc.activeItem}">
                <md-icon>folder</md-icon>
                <p>{{ item.titulo }}</p>
            </md-list-item>
        </md-content>
    </md-sidenav>

    <div layout="column" flex>
        <md-toolbar class="md-hue-2" md-whiteframe="0" md-theme="tema-gnp">
            <div class="md-toolbar-tools">
                <md-button ng-click="dc.openMenu()" hide-gt-sm class="md-icon-button">
                    <md-icon>menu</md-icon>
                </md-button>
                <h2 flex md-truncate ng-show="dc.file == null">GNP - Banamex</h2>
                <h2 flex md-truncate ng-show="dc.file != null">Descargas <md-icon style="margin-top:-2px">keyboard_arrow_right</md-icon> {{dc.file.titulo}}</h2>
            </div>
        </md-toolbar>    

        <md-content layout="column" flex layout-padding md-theme="tema-gnp" >
            <div layout="column" layout-align="center center" ng-show="dc.file == null">
                <md-card class="no-shadow">
                    <md-card-title>
                        <md-card-title-text>
                        <span class="md-headline">Landig Page GNP</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>Landig Page GNP para clientes Banamex</p>
                    </md-card-content>
                </md-card>
            </div>

            <div class="md-card-gnp" md-whiteframe="3" ng-show="dc.file != null">
                <div layout="column" layout-align="top center">
                    <img ng-src="{{dc.file.imagen}}" class="md-card-image">
                </div>
                
                <div layout="column" layout-align="start start" layout-padding>
                    <h2 class="md-headline">{{dc.file.titulo}}</h2>
                    <p>
                        <b>{{dc.file.subtitulo}}</b>
                    </p>
                    <div ng-bind-html="dc.trustAsHtml(dc.file.contenido)" style="width:100%"></div>
                </div>
                
                <div layout="row" layout-align="end center" layout-padding>
                    <a href="{{dc.file.archivo}}" target="_black" download>
                        <md-button class="md-fab md-primary">
                            <md-icon>insert_drive_file</md-icon>
                        </md-button>
                    </a>
                </div>
            </div>
        </md-content>
    </div>
  </section>
</div>


<style>
.no-shadow {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12) !important;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(35, 152, 253);
}
.active {
    background: rgb(206, 206, 206);
}
.md-card-gnp {
    max-width: 800px;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 8px;
    padding: 0;
    border-radius: 2px 2px 0 0;
    background: #FFF;
}
.md-card-gnp img {
    border-radius: 2px 2px 0 0;
    width: 100%;
}
</style>