<div layout="row" layout-fill>
    <md-sidenav flex class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
        <md-toolbar>
            <div layout="column" layout-align="start center" ng-click="lc.goHome()" hide-xs hide-sm>
                <img src="http://promobus.com.mx/wp-content/uploads/2015/04/promobus-gnp-rebasa-el-crecimiento-del-sector.gif" class="pointer"/>
            </div>
            <div layout="column" layout-align="start start" ng-click="lc.goHome()" hide-md hide-lg >
                <h1 class="md-toolbar-tools">GNP - Banamex</h1>
            </div>
            <div layout="column" layout-align="start start" ng-click="lc.goHome()" hide-xs hide-sm >
                <h1 class="md-toolbar-tools">Sección Descargas</h1>
            </div>
        </md-toolbar>

        <md-content flex>
            <md-subheader class="md-no-sticky" hide-md hide-lg>Sección Descargas</md-subheader>
            <md-list-item ng-click="lc.detalle(item)" ng-repeat="item in lc.listado" ng-class="{'active': item.$id == lc.activeItem.$id}">
                <md-icon>folder</md-icon>
                <p>{{ item.titulo }}</p>
            </md-list-item>
        </md-content>
    </md-sidenav>
</div>