<md-toolbar class="md-hue-2" md-whiteframe="0" md-theme="tema-gnp">
    <div class="md-toolbar-tools">
        <md-button ng-click="hc.openMenu()" hide-gt-sm class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 flex md-truncate ng-show="hc.titulo == null">GNP - Banamex</h2>
        <h2 flex md-truncate ng-show="hc.titulo != null">Descargas <md-icon style="margin-top:-2px">keyboard_arrow_right</md-icon> {{hc.titulo}}</h2>
    </div>
</md-toolbar>