<div layout="column" style="height:100%">
    <section layout="row" flex>

    <div layout="column" flex>
        <md-toolbar class="md-hue-2" md-whiteframe="0">
            <div class="md-toolbar-tools">
                <h2 flex md-truncate>Administración de Descargas</h2>
                <md-button ng-click="ac.cerrarSesion()">
                    <md-icon>exit_to_app</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-content layout="column" flex layout-padding>
            <div layout="row" layout-align="start start">
                <div flex="30" md-whiteframe="1">
                    <md-list md-theme="tema-gnp" flex>
                        <md-subheader class="md-no-sticky">Listado de archivos - Total {{ac.listado.length}}</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="item in ac.listado" ng-click="ac.detalle(item)" ng-disabled="ac.edicion == true">
                            <md-button class="md-fab md-primary">
                                <md-icon>attach_file</md-icon>
                            </md-button>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ item.titulo }}</h3>
                                <h4>{{ item.subtitulo }}</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-list flex>
                        <md-list-item class="md-3-line" >
                            <div class="md-list-item-text" layout="column" layout-align="center center">
                                <md-button class="md-fab" ng-click="ac.agregar()">
                                    <md-icon>note_add</md-icon>
                                </md-button>    
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            
                <div flex="70" style="margin-top:0px">
                    <md-card flex style="margin-top:0px" ng-hide="ac.file == null || ac.edicion == true">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{ac.file.titulo}}</span>
                                <span class="md-subhead">{{ac.file.subtitulo}}</span>
                                <div ng-bind-html="ac.file.contenido"></div>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-lg card-media">
                                    <img src="{{ac.file.imagen}}">
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised" ng-click="ac.editar()">Editar</md-button>
                        </md-card-actions>
                    </md-card>
                    
                    <md-card flex style="margin-top:0px" ng-hide="ac.edicion == false">
                        <md-card-content>
                            <form name="archivo">
                                
                                <md-input-container class="md-block">
                                    <label>Titulo</label>
                                    <input name="titulo" ng-model="ac.copia.titulo" required>
                                    <div ng-messages="archivo.titulo.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Sub Titulo</label>
                                    <input name="subtitulo" ng-model="ac.copia.subtitulo" required>
                                    <div ng-messages="archivo.subtitulo.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Descripción</label>
                                    <textarea name="contenido" ui-tinymce="ac.tinymceOptions" ng-model="ac.copia.contenido" md-maxlength="1500" rows="5" md-select-on-focus required></textarea>
                                    <div ng-messages="archivo.contenido.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Url Imagen</label>
                                    <input name="imagen" ng-model="ac.copia.imagen" required>
                                </md-input-container>

                                <div layout="row" layout-align="space-between stretch">
                                    <md-input-container flex>
                                        <label>Archivo Descargable - {{ac.archivoTempName}}</label>
                                        <input id="file1" name="file" type="file" onchange="angular.element(this).scope().ac.selectFile('#file1')">
                                    </md-input-container>
                                    <a href="{{ac.copia.archivo}}" target="_black" download>
                                        <md-button class="md-fab md-primary">
                                            <md-icon>insert_drive_file</md-icon>
                                        </md-button>
                                    </a>
                                </div>
                            </form>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="space-between center">
                            <md-button class="md-raised" ng-click="ac.cancelar()">Cancelar</md-button>
                            <div>
                                <md-button class="md-raised md-warn" ng-click="ac.borrar()">Borrar</md-button>
                                <md-button class="md-raised md-primary" ng-click="ac.guardar()" ng-disabled="archivo.$invalid">Guardar</md-button>
                            </div>
                        </md-card-actions>
                    </md-card>
                    
                    <md-card flex style="margin-top:0px" ng-hide="ac.nuevo == false">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Nuevo archivo descargable</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <form name="nuevo">
                                <md-input-container class="md-block">
                                    <label>Titulo</label>
                                    <input name="titulo" ng-model="ac.copia.titulo" required>
                                    <div ng-messages="nuevo.titulo.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Sub Titulo</label>
                                    <input name="subtitulo" ng-model="ac.copia.subtitulo" required>
                                    <div ng-messages="nuevo.subtitulo.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Descripción</label>
                                    <textarea name="contenido" ui-tinymce="ac.tinymceOptions" ng-model="ac.copia.contenido" md-maxlength="1500" rows="5" md-select-on-focus required></textarea>
                                    <div ng-messages="nuevo.contenido.$error">
                                        <div ng-message="required">Campo obligatorio.</div>
                                    </div>
                                </md-input-container>
                                
                                <md-input-container class="md-block">
                                    <label>Url Imagen</label>
                                    <input name="imagen" ng-model="ac.copia.imagen" required>
                                </md-input-container>

                                <md-input-container class="md-block">
                                    <label>Archivo Descargable - {{ac.archivoTempName}}</label>
                                    <input id="file2" name="file" type="file" onchange="angular.element(this).scope().ac.selectFile('#file2')">
                                </md-input-container>
                            </form>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="space-between center">
                            <md-button class="md-raised" ng-click="ac.cancelar()">Cancelar</md-button>
                            <div>
                                <md-button class="md-raised md-primary" ng-click="ac.validar()" ng-disabled="nuevo.$invalid">Guardar Nuevo</md-button>
                            </div>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </md-content>
    </div>
  </section>
</div>