<!DOCTYPE html>
<html lang="es" ng-app="banamexApp">
<head>
    <title>GNP - Banamex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>

    <!-- include: "type": "js", "basePath": "dist", "files": "app/comun.min.js" -->
    <script src="../../common/angular-material.min.js" defer></script>
    <script src="../../common/angular-material-icons.min.js" defer></script>
    <!-- /include -->
</head>  
<body ng-controller="loginCtrl" ng-cloak>
    <div layout="row" layout-align="center center" style="height: 100%;">
        
        
            <md-content class="md-no-momentum" flex="40" flex-xs="90" flex-sm="80">
                <form name="user">
                    <md-input-container class="md-icon-float md-block">
                        <label>Correo Electronico</label>
                        <md-icon>perm_identity</md-icon>
                        <input name="email" ng-model="email" type="text" placeholder="Email" required>
                        <div ng-messages="user.email.$error">
                            <div ng-message="required">Campo obligatorio.</div>
                        </div>
                    </md-input-container>
                
                    <md-input-container md-no-float class="md-block">
                        <label>Contraseña</label>
                        <md-icon>lock</md-icon>
                        <input name="password" ng-model="password" type="password" placeholder="Password" required>
                        <div ng-messages="user.password.$error">
                            <div ng-message="required">Campo obligatorio.</div>
                        </div>
                    </md-input-container>
                
                    <md-button class="md-raised md-primary" ng-click="entrar()" ng-disabled="user.$invalid">ENTRAR</md-button>
                </form>
            </md-content>
        
    </div>
</body>
</html>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyASOQKmV2GCciXtT4pPNqAM34BRIBXp6k0",
        authDomain: "comentarios-60cf7.firebaseapp.com",
        databaseURL: "https://comentarios-60cf7.firebaseio.com",
        projectId: "comentarios-60cf7",
        storageBucket: "comentarios-60cf7.appspot.com",
        messagingSenderId: "546360697638"
    };
    firebase.initializeApp(config);
    
    
    angular
        .module("banamexApp", ["ngMaterial", "ngMdIcons", "ngMessages"])
        .controller("loginCtrl", loginCtrl);

    loginCtrl.$inject = ["$rootScope", "$scope"];
    function loginCtrl($rootScope, $scope) {

        $scope.entrar = function() {
            firebase.auth().signInWithEmailAndPassword($scope.email, $scope.password).then(function(result) {
                window.location = "/#/administracion"
            }).catch(function(error) {
                console.log(error.code, error.message);
                alert("Credenciales incorrectas.")
            });
        }
    };

    firebase.auth().signOut();
</script>
